@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('./fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('./fonts/Lato-Bold.ttf');
}

@mixin font-lato-regular {
  font-family: 'Lato', sans-serif;
}

@mixin font-lato-light {
  font-family: 'Lato-Light', sans-serif;
}

@mixin font-lato-bold {
  font-family: 'Lato-Bold', sans-serif;
}

@keyframes modal-anim {
  from {opacity: 0}
  to {opacity: 1}
}

$main-color: #6d9f03;
$font-color-first: white;
$font-color-second: #4a4a4a;
$font-color-third: #d6d6d6;

body {
  min-height: 670px;
  font-family: 'Lato', sans-serif;
}

#app {
  min-width: 560px;
  min-height: 670px;
}

@mixin btn {
  @include font-lato-regular;
  border: none;
  outline: none;
  border-radius: 100px;
  background-color: $main-color;
  color: $font-color-first;
  font-size: 14px;
  cursor: pointer;
  height: 35px;
  margin: 5px;

  &:hover {
    color: #292b2c;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}
