.tile {
  @include font-lato-regular;
  width: 100%;
  min-height: 100%;
  border-radius: 10px;
  background-color: white;
  color: $font-color-second;

  p {
    @include font-lato-light;
    font-size: 12px;
    line-height: 15px;
    margin: 0;

    span {
      font-size: 16px;
    }
  }

  .header {
    width: 100%;
    display: flex;
    padding-bottom: 12px;

    .pic {
      width: 150px;
      height: 150px;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .content {
      width: 62%;
      margin: 10px 25px;

      h4 {
        @include font-lato-bold;
        font-size: 16px;

        span {
          color: $main-color;
        }
      }

      p {
        height: 45px;
        overflow: hidden;
      }

      .rating {
        height: 58px;

        img {
          width: 25px;
          height: 25px;
          margin: 15px 15px 15px 0;
        }
      }

      h6 {
        font-size: 12px;
        margin-bottom: 0;
      }
    }
  }

  .tile-title {
    height: 50px;
    width: 100%;
    background-color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    h2 {
      @include font-lato-bold;
      text-transform: uppercase;
      color: $font-color-first;
      font-size: 20px;
      margin: 0;
    }
  }

  .tile-body {
    width: 90%;
    margin: 0 auto;

    .tile-row {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      margin: 10px auto;

      &>div {
        width: 32%;
        text-align: center;
      }

      h5 {
        @include font-lato-bold;
        font-size: 14px;
      }
    }
  }

  .tile-footer {
    width: 100%;

    .tile-btns {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .btn-secondary {
        @include btn;
        width: 100%;
      }

      .btns-row2 {
        display: flex;
        width: 100%;

        .btn-secondary {
          width: 48%;
          background-color: $font-color-third;
        }
      }
    }
  }
}
